<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="koppen.jonas.ap.projectbig">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResistorCalc.ResistorCalc"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ResistorCalc.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ResistorCalc.resistor_serie"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ResistorCalc.resistor_parallel"
            android:screenOrientation="portrait"

            ></activity>
        <activity
            android:name=".ResistorCalc.OhmLaw"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Afspraken.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Afspraken.DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ChatApp.MainActivity"></activity>
        <activity android:name=".layoutsTest.MainActivity"></activity>
        <activity android:name=".notification.DetailActivity"></activity>
        <activity android:name=".notification.MainActivity"></activity>
        <activity android:name=".lifeCycle.MainActivity"></activity>
        <activity android:name=".storrage.MainActivity"></activity>

    </application>

</manifest>